{{> setup-header}}
<main class="setup-content">
    <div class="setup-pagination">
        <h2 class="pagination-title">Step 1/2</h2>
        <p>Let's start by getting to know you a bit.</p>
    </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <div class="field-item">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your full name" value="{{getBandName}}" />
            </div>
            <div class="field-item">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email address" value="{{getEmail}}" />
            </div>
            <div class="field-item">
                <label for="zipcode">Zipcode</label>
                <input type="text" id="zipcode" name="zipcode" placeholder="Enter your zipcode" value="{{getZipcode}}" />
            </div>
            <div class="field-item">
                <label for="homeAddress">Home Address: </label>
                <input type="text" id="homeAddress" name="homeAddress" placeholder="Enter your home address" value="{{getHomeAddress}}">
            </div>
            <div class="field-item">
                <label for="workAddress">Work Address: </label>
                <input type="text" id="workAddress" name="workAddress" placeholder="Enter your work address" value="{{getWorkAddress}}">
            </div>
            <div class="field-item ui-widget">
                <label for="stock">Stock Symbol</label>
                <input type="text" id="stock" name="stock" class="ui-autocomplete-input" autocomplete="off">
            </div>
            <div class="field-item tos-field">
              <label class="check-label" for="agree-terms">
                <input type="checkbox" id="agree-terms" name="agree-terms" required />
                I agree to the <a href="https://www.microsoft.com/en-us/servicesagreement/">Terms of service</a>
              </label>
            </div>
            <div class="clear submit-wrapper">
                <div id="form-errors"></div>
                <button class="forward-btn">Next</button>
            </div>
        </fieldset>
    </form>
</main>

{{> attribution }}

<script src="https://cdn.jsdelivr.net/lodash/4.5.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/jquery-ui-reduced.css" />
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/js/createProfile.js" type="text/javascript"></script>
<script src="/js/setupUtilities.js" type="text/javascript"></script>