.DS_Store
*.log
environment.txt
node_modules
environment.json
*.sass-cache

#Visual Studio files
*.[Oo]bj
*.user
*.exe
*.aps
*.pch
*.scc
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
UpgradeLog.*
ipch/
obj/
[Bb]in/
[Bb]ackup/
[Bb]ld/
_UpgradeReport_Files/
[Dd]ebug*/
[Rr]elease*/
UserData/
[Ff]ile[Ee]xplorer/
Ankh.NoLoad
.vs/
