<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Example App</title>
    </head>
   <link rel="stylesheet" type="text/css" href="/style.css" />
    <body>

        {{{body}}}
    {{#if templates}}
        <script src="/libs/handlebars.runtime.js"></script>
        <script>
            (function () {
                var template  = Handlebars.template,
                    templates = Handlebars.templates = Handlebars.templates || {};

            {{#templates}}
                templates['{{{name}}}'] = template({{{template}}});
            {{/templates}}
            }());
        </script>
    {{/if}}
    </body>
</html>