/*General*/
.center
{
  position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
/*Magic mirror home UI*/
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
	color: #fff;
	font-family: Segoe UI Light, Tahoma, sans-serif;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
}

#timestamp {
	position: absolute;
	top: 0;
	right: 20px;
	text-align: right;
}

#time {
	font-size: 140px;
	line-height: 140px;
}

#date, #day {
	font-size: 40px;
	line-height: 40px;
}

#weather {
	position: absolute;
	top: 0;
	left: 20px;
}

#weather .icon,
#weather .temperature {
	display: inline-block;
	line-height: 140px;
}

#weather .icon {
	font-size: 140px;
}

#weather .temperature {
	font-size: 120px;
	vertical-align: top;
}
#weather .temp-wrapper {
  text-align: center;
}
#weather .location {
	font-size: 44px;
	width: 375px;
  weight: 600;
  text-transform: capitalize;
  text-align:center;
}
#weather .report,.description {
	font-size: 32px;
	width: 375px;
  text-transform: capitalize;
  text-align:center;
}
/*Create user form*/
form
{
  position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
form .field-symbol
{
  padding:10px;
}
form .field-symbol label
{
  padding-right:20px;
}
form .field-symbol input
{
  float:right;
}
form .submit-wrapper{
  text-align: center;
  padding:10px;
}
form input[type=submit]{
  padding:6px 12px;
}
form #error{
  color:red;
}
/*Capture*/
.capture-face
{
  overflow-y:visible;
}
.capture-face .header
{
  margin: 0 auto;
  width:500px;
  text-align: center;
}
.capture-face .title
{
  font-size: 24px;
  font-weight: 600;
}
.capture-face .sub-title
{
  margin:10px 20px 10px 10px;
  font-size: 20px;
}
.capture-face .controls
{
  text-align: center;
}
.capture-face button
{
  margin: 10px;
  padding: 6px 12px;
}
#video {
  width: 640px;
  height: 480px;
  position: relative;
}

#cameraPreview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 640px;
  height: 480px;
}

#facesCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 640px;
  height: 480px;
}

#message, #snapshot {
  width: 640px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Segoe UI Light', Tahoma, sans-serif;
  font-size: 24px;
}
