/* VARIABLES
--------------------------------------------- */

/* BREAKPOINTS */
$bp-m: 50em;

/* FONTS */
$font-bold: "HKGroteskBold", "Segoe UI Bold", Tahoma, sans-serif;
$font-light: "HKGroteskLight", "Segoe UI Light", Tahoma, sans-serif;
$font-regular: "HKGroteskRegular", "Segoe UI", Tahoma, sans-serif;

/* COLORS */
$color-setup-bg: #dce9e8;
$color-setup-bg2: #dedede;
$color-setup-bg3: #bdd0d5;
$color-setup-link: #3f6562;
$color-setup-link-hover: #9017d1;
$color-setup-link-active: #3f2c8c;
$color-mirror-bg: #000;
$color-mirror-body: #fff;