<div class="center capture-face">
  <div class="header">
    <div class="title">
      Step 1/2
    </div>
    <div class="sub-title">
      Let's start by taking your picture so the mirror can recognize you.
    </div>
  </div>
  <div id="video">
    <video id="cameraPreview" class="cameraPreview"></video>
    <canvas id="facesCanvas"></canvas>
  </div>
  <div class="controls">
    <button id="buttonAddFace">Add face</button>
    <button id="buttonAuthenticate">Authenticate</button>
  </div>
  <div id="message"></div>
  <div id="snapshot"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="/capture/captureFace.js"></script>
