<div class="header">
  <div class="title">
    Step 2/2
  </div>
  <div class="sub-title">
    Take a selfie so the mirror can recognize you.
  </div>
</div>
<div class="horizontal-center capture-face">
  <div id="video">
    <video id="cameraPreview" class="cameraPreview"></video>
    <canvas id="facesCanvas"></canvas>
  </div>
  <div class="controls">
    <button id="buttonAddFace">Add face</button>
    <button id="buttonAuthenticate">Authenticate</button>
  </div>
  <div id="message"></div>
  <div id="snapshot"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="/capture/file/captureFace.js"></script>
