<div class="create-profile">
  <div class="header">
    <div class="title">
      Step 1/2
    </div>
    <div class="sub-title">
      Let's start by getting to know you a bit.
    </div>
  </div>
  <form class="horizontal-center" action="" method="post" enctype="multipart/form-data">
    <fieldset>
      <div class="field-symbol">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your full name" value="John Smith"/>
      </div>
      <div class="field-symbol">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address" value="john.smith@gmail.com"/>
      </div>
      <div class="field-symbol">
        <label for="zipcode">Zipcode:</label>
        <input type="text" id="zipcode" name="zipcode" placeholder="Enter your zipcode" value="98104"/>
      </div>
      <div class="field-symbol ui-widget">
        <label for="stock">Stock Symbol: </label>
        <input id="stock" class="ui-autocomplete-input" autocomplete="off" value="MSTF">
      </div>
      <div class="submit-wrapper">
        <input type="submit" value="Create Profile" class="dark-contrast-btn"/>
        <div>
          <span id="error"></span>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<a id="back" href="/mirror">Mirror</a>
<script src="https://cdn.jsdelivr.net/lodash/4.5.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
<script src="/create/createProfile.js" type="text/javascript"></script> 