/* AUTH STATES
--------------------------------------------- */

.auth-state {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  font-family: $font-light;
  text-align: center;
}

.auth-state-title {
  font-size: 3em;
}

.greeting-salutation,
.greeting-name {
  display: block;
}

.auth-state-content {

  p {
    margin-right: auto;
    margin-left: auto;
    max-width: 22em;
    text-align: left;
  }

}

/* AUTH STATE: LOGGING OUT */