/* AUTH STATES
--------------------------------------------- */

.auth-state {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  font-family: $font-light;
  text-align: center;
}

.auth-state-title {
  font-size: 3em;
}

.greeting-salutation,
.greeting-name {
  display: block;
}

.auth-state-content {

  p {
    margin-right: auto;
    margin-left: auto;
    max-width: 22em;
    text-align: left;
  }

}

/* AUTH STATE: LOGGING OUT */
.timer {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.timer .circle {
	stroke: #ffffff;
	fill: transparent;
	stroke-dasharray: 100 100;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s;
  transition-timing-function: linear;
}

.timer .text {
	fill: rgba(255,255,255,0.7);
	font-size: 10px;
	text-anchor: middle;
}