/* AUTH STATES
--------------------------------------------- */

.auth-state {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  font-family: $font-light;
  text-align: center;

  &[aria-hidden="true"] {
    display: none;
    opacity: 0;
  }

}

.greeting-salutation,
.greeting-name {
  display: block;
}

/* STATE: FACE NEARBY, TRYING TO DETECT */
.face-detect-ring {
  position: relative;
  width: 580px;
  height: 800px;
}

.face-detect-ring::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 15px 0 #fff, 0 0 30px 0 #fff;
  -webkit-animation: 2s ringPulseAnim infinite alternate ease-in-out;
  -moz-animation: 2s ringPulseAnim infinite alternate ease-in-out;
  animation: 2s ringPulseAnim infinite alternate ease-in-out;
  content: '';
}

@-webkit-keyframes ringPulseAnim {
  0% {opacity: 0;}
  95% {opacity: 1;}
  100% {opacity: 1;}
}

@-moz-keyframes ringPulseAnim {
  0% {opacity: 0;}
  95% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes ringPulseAnim {
  0% {opacity: 0;}
  95% {opacity: 1;}
  100% {opacity: 1;}
}

/* AUTH STATE: LOGGING OUT */
.countdown-value {
  display: block;
  font-size: 6em;
  line-height: 1;
}

.logout-tip {
  max-width: 14em; /* Not specific measure, just where it looks good */
}