/* MIRROR UI GLOBALS
--------------------------------------------- */

.mirror {
  position: relative;
  padding: 3em;
  background: $color-mirror-bg;
  color: $color-mirror-body;
  font-size: 100%;
  line-height: 1.25;
  overflow: hidden;

  p {
    line-height: 1.5;
  }

}

/* MIRROR UI LAYOUT
 * Notes: the flexbox layout work in this section
 * anchors eye-level stuff to the top, centers
 * the face detection/greetings in the middle,
 * and pushes low-priority content to the bottom. */
.auth-states {
  margin: 1.5em auto;
}

@media (min-width: $bp-m) {

  .auth-states {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .mirror, .auth-state {
     display: flex;
     align-items: center;
     justify-content: center;
  }

  .mirror {
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .eyelevel {
    align-self: flex-start;
    width: 100%;
  }

  .auth-state {
    min-height: 100%;
  }

  .auth-state-content {
    flex: 1;
  }

  .low-pri-content {
    align-self: flex-end;
    width: 100%;
  }

  #weather {
    float: left;
  }

  .timely-content {
    float: right;
  }

}

#video-hidden {
  display: none;
}

/* HIDE THESE VISUALLY WHEN HIDDEN FROM SCREEN READERS */
.auth-state[aria-hidden="true"],
.low-pri-content[aria-hidden="true"],
#weather[aria-hidden="true"] {
  display: none;
  opacity: 0;
}

/* SUBSECTIONS OF MIRROR */
@import 'auth-states';
@import 'weather';
@import 'timely-content';
@import 'stocks';