/* LOW-PRIORITY CONTENT
--------------------------------------------- */

.low-pri-block {
	display: inline-block;
	vertical-align: top;
	padding-right: 2em;
	width: 12em;
	font-size: 2.25em;

	&:last-child {
		padding-right: 0;
	}

}

.low-pri-block-title {
	margin: 0 0 1em;
	font: .875em/1 $font-bold;
}

#login-stamp {
  margin-bottom: 3em;
  padding-top: 1em;
  border-top: 2px solid rgba(255,255,255,.2);
	font: 1em $font-light;
  text-transform: uppercase;
  letter-spacing: .05em;
	opacity: .75;
}

#logged-in-name {
	font-family: $font-bold;
}