/* LOW-PRIORITY CONTENT
--------------------------------------------- */

.low-pri-block {
	display: inline-block;
	vertical-align: top;
	padding-right: 2em;
	width: 12em;
	font-size: 2.25em;

	&:last-child {
		padding-right: 0;
	}

}

.low-pri-block-title {
	margin: 0 0 .75em;
	font: .875em/1 $font-bold;
}

.logged-in-stamp {
	margin-bottom: 3.5em;
	font: 1em $font-bold;
  text-transform: uppercase;
  letter-spacing: .05em;
}

#logged-in-name {
	padding-bottom: 2px;
	border-bottom: 2px solid rgba(255,255,255,.5);
}