/* LOW-PRIORITY CONTENT
--------------------------------------------- */

.low-pri-block {
	margin-bottom: 1.5em;
	max-width: 14em;
	font-size: 1.5em;

	&:last-child {
		margin-bottom: 0;
	}

}

.low-pri-block-title {
	margin: 0 0 .75em;
	font: .875em/1 $font-bold;

	&:before {
		@extend %icon;
	}

}

.logged-in-stamp {
	margin-bottom: 3.5em;
	padding-left: 48px; /* Left padding = affordance for icons */
	font: 1em $font-bold;
  text-transform: uppercase;
  letter-spacing: .05em;
}

#logged-in-name {
	padding-bottom: 2px;
	border-bottom: 2px solid rgba(255,255,255,.5);
}

@media (min-width: $bp-m) {

	.low-pri-block {
		display: inline-block;
		vertical-align: top;
		padding: 0 2em 0 48px; /* Left padding = affordance for icons */
		width: 49%;
		font-size: 2.25em;

		&:last-child {
			padding-right: 0;
		}

	}

	.low-pri-block-title {
		position: relative;

		&:before {
			margin-top: -17px;
			left: -48px;
			width: 35px;
			height: 35px;
			opacity: .5;
		}

	}

}

/* SUBSECTIONS OF LOW-PRI CONTENT */
@import 'traffic';
@import 'stocks';